<!-- start: page -->
<body class="bgImage">
  <section class="body-sign">
    <div class="center-sign">
      <a class="logo pull-left">
        <img src="assets/images/logo.png" height="54" alt="Slate Web" />
      </a>
  
      <div class="panel panel-sign">
        <div class="panel-title-sign mt-xl text-right">
          <h2 class="title text-uppercase text-weight-bold m-none">
            <i class="fa fa-user mr-xs"></i> Sign In
          </h2>
        </div>
        <div class="panel-body">
          <form #loginForm="ngForm">
            <div class="form-group mb-lg">
              <label>Email or Phone Number</label>
              <div class="input-group input-group-icon">
                <input
                  name="PhoneNumber"
                  type="text"
                  placeholder="example@com OR 034340394324"
                  required
                  #PhoneNumber="ngModel"
                  [(ngModel)]="loginDTO.PhoneNumber"
                  class="form-control input-lg"
                />
                <span class="input-group-addon">
                  <span class="icon icon-lg">
                    <i class="fa fa-user"></i>
                  </span>
                </span>
                
              </div>
              <div
                  [hidden]="PhoneNumber.valid || PhoneNumber.pristine"
                  class="alert alert-danger"
                >
                PhoneNumber Or Email is required
                </div>
            </div>
  
            <!-- <div class="form-group mb-lg">
                          <div class="clearfix">
                              <label class="pull-left">Password</label>
                              <a href="pages-recover-password.html" class="pull-right">Lost Password?</a>
                          </div>
                          <div class="input-group input-group-icon">
                              <input name="pwd" type="password" class="form-control input-lg" />
                              <span class="input-group-addon">
                                  <span class="icon icon-lg">
                                      <i class="fa fa-lock"></i>
                                  </span>
                              </span>
                          </div>
                      </div> -->
  
            <div class="row">
              <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                  <input id="RememberMe" name="rememberme" type="checkbox" />
                  <label for="RememberMe">Remember Me</label>
                </div>
              </div>
              <div class="col-sm-4 text-right">
                <button
                  type="button"
                  
                  class="btn btn-primary hidden-xs"
                  (click)="login()"
                  [disabled]="loginForm.invalid"
                >
                  Sign In
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-block btn-lg visible-xs mt-lg"
                  (click)="login()"
                  [disabled]="loginForm.invalid"
  
                >
                  Sign In
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <p class="text-center  mt-md mb-md "style="color:white">
        &copy; Copyright 2014. All Rights Reserved.
      </p>
    </div>
  </section>
</body>   

<!-- end: page -->
