



<div class="row">
<div class="col-lg-12">
<div class="card">
    <div class="card-header">
        <h4>Check Details</h4>
    </div>
    <div class="card-body">

        <dl>
            <!-- <dt>
                CHECK ID
            </dt>

            <dd>
              <p>{{checkDto.checkId}}</p> 
            </dd> -->
            <dt>
                CODE
            </dt>

            <dd>
              <p>{{checkDto.Code}}</p> 
            </dd>

            <dt>
                NAME
            </dt>

            <dd>
                <p>{{checkDto.Name}}</p> 
            </dd>

            

            <dt>
                STATUS
            </dt>

            <dd>
               <p *ngIf="checkDto.Status==true">Acitve</p>
               <p *ngIf="checkDto.Status==false">InActive</p>
            </dd>

        </dl>

        <p>
           <a (click)="back()">Back</a>
        </p>

    </div>

</div>
</div>

</div>