<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 *ngIf="routeId == undefined">Add Check</h4>
        <h4 *ngIf="routeId != undefined">Edit Check</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-horizontal">
            <!-- <div class="form-group" *ngIf="routeId != undefined">
              <label >Code</label>
              <div class="col-md-4">
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  required
                  name="checkId"
                  id="checkId"
                  [(ngModel)]="checkDto.checkId"
                />
              </div>
            </div> -->
            <form #checkForm="ngForm">
              <div class="row">
                
                <div class="col-md-4">
                  <label >Code</label>
                    <input
                      type="text"
                      placeholder="Enter your code"
                      class="form-control"
                      required
                      name="Code"
                      id="Code"
                      [(ngModel)]="checkDto.Code"
                    />
                  </div>

                  <div class="col-md-4">
                    <label >Name</label>
                    <input
                      type="text"
                      placeholder="Enter your name"
                      class="form-control"
                      required
                      name="Name"
                      id="Name"
                      [(ngModel)]="checkDto.Name"
                    />
                  </div>

                  <div class="col-md-4">
                    <label >Status</label>
                    <select
                      name="status"
                      class="form-control"
                      [(ngModel)]="checkDto.Status"
                    >
                      <option [value]="option.id" *ngFor="let option of status">
                        {{ option.name }}
                      </option>
                    </select>
                  </div>
                </div>
              
              <div class="row">
               
                  <div class="col-md-12 formButtons">
                    <input
                      type="button"
                      class="btn btn-info"
                      id="btnSubmit"
                      [disabled]="checkForm.invalid"
                      (click)="save()"
                      style="
                        background: #0088cc !important;
                        color: white;
                        border: none;
                      "
                      value="Save"
                    />
                    <input
                    type="button"
                    class="btn btn-dark"
                    
                    (click)="back()"
                    style="
                      background: #646c7085 !important;
                      color: white;
                      border: none;
                    "
                    value="Cancel"
                  />
                  </div>
                
              </div>
            </form>
          </div>
        </div>

        <!-- <p>
          <a (click)="back()">Back</a>
       </p> -->
      </div>
    </div>
  </div>
</div>
