<p>
  <input
    type="button"
    class="btn btn-info"
    style="background: #0088cc !important; color: white; border: none"
    value="Create New"
    *ngIf="isCreate"
    (click)="goToCreate()"
  />
</p>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        
        <div class="headerRow">
          <h4>Checks</h4>
          <i class="fa fa-refresh" (click)="getAll()" aria-hidden="true"></i>
        </div>
      </div>
      <div class="card-body">
        <div
          class="table-responsive"
          id="proTeamScroll"
          tabindex="2"
          style="height: auto; overflow-x: auto; outline: none"
        >
          <table id="table_id" class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th>Status</th>

                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="tblBody">
              <tr *ngFor="let check of checks">
                <td>{{ check.name }}</td>
                <td>{{ check.code }}</td>
                <td>{{ check.createdDateTime | date: "dd/MM/yyyy" }}</td>
                <td>{{ check.updatedDateTime | date: "dd/MM/yyyy" }}</td>
                <td *ngIf="check.status == 0">
                  <span class="badge badge-success">Active</span>
                </td>
                <td *ngIf="check.status == 1">
                  <span class="badge badge-danger">InActive</span>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm btnEdit" *ngIf="isEdit"
                    (click)="edit(check)"
                  >
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning btn-sm btnDetails" *ngIf="isView"
                    (click)="details(check)"
                  >
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm btnDelete" *ngIf="isDelete"
                    class="btn btn-outline-secondary"
                    mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    (cancel)="confirmClicked = true"
                    (confirm)="delete(check)"
                  >
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
